.DS_Store
.idea/
.vscode/
__pycache__/
pandoc-Windows/
pandoc-MacOS/
__MACOSX/
build/
dist/
*.docx
.fleet/
venv/
*.dmg

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
